
html {
  font-size: 35%;
}
body {
  font-family: "Goldman", cursive;
}

nav {
  display: flex;
  width: 100%;
  padding: 2rem;
  min-height: 10vh;
  align-items: center;
  flex-wrap: wrap;
  margin: auto;
  background: #11c700;
  justify-content: space-between;
}
nav ul {
  display: flex;
  align-items: center;
  list-style-type: none;
}
nav li {
  font-size: 2.5rem;
  padding: 0 4rem 0 4rem;
}
nav a {
  color: white;
  text-decoration: none;
}
nav img {
  width: 10vw;
}
footer {
  width: 100%;
  background-color:darkgreen;
  min-height: 150px;
  }
  p{
  font-size: 20px;
  }
  footer ul {
    display: flex;
    align-items: center;
    list-style-type: none;
    font-size: 15px;
  }
  footer li {
    font-size: 2rem;
    padding: 0 4rem 0 4rem;
  }
  footer a{
    color: white;
    text-decoration: none;
  }